<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="D:\My_Data\KLTN\test\Project_SHA_2_10core\software\FW_2\FW_2.elf"/>
<stringAttribute key="modelSimPath" value="C:\intelFPGA_lite\21.1\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="FW_2.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="FW_2"/>
<stringAttribute key="spdPath" value="D:\My_Data\KLTN\test\Project_SHA_2_10core\system_tb.spd"/>
</launchConfiguration>
